<section class="thirteen columns">
    <h1 id="about">
        About
    </h1>
    <h3>
        I'm Yuang, a PhD student. 
    </h3>
    <p>
        at <a href="https://www.comp.nus.edu.sg/">School of Computing</a>, <a href="https://www.nus.edu.sg/">National University of Singapore</a>, supervised by <a href="https://www.comp.nus.edu.sg/cs/people/ooiwt/">Prof. Ooi Wei Tsang</a>.
    </p>
    <p>
        I have many hobbies, e.g. photography, music, reading, writing. I love photography and most of my photos are posted on <a href="https://flic.kr/ps/3WM9SL">flickr</a>. I love piano, Bach and Chopin are my favourite musicians. I always get lost in Goldberg Variations and Nocturnes. I love reading, the works of Fyodor Dostoevsky and Milan Kundera greatly influence me. I also love writing, I have been writing Chinese essays in my <a href="http://www.yuuuuang.com/">personal blog</a> for 4 years since 2018.
    </p>

</section>
