<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Master of Computing, Honours Degree (Distinction)</h1>
            <span>National University of Singapore</span>
            <span><address>Singapore</address><time>2021 to 2022</time></span>
        </header>
        <p>
            <em>Dissertation: Joint Human Activity Transition Detection and Recognition on Wearable and Mobile Devices.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>B.En in Software Engineering, Honours Degree (Highest Distinction)</h1>
            <span>Sichuan University</span>
            <span><address>Sichuan, China</address><time>2017 to 2021</time></span>
        </header>
        <p>
            <em>Thesis: ShapeCNF: Conditional Neural Field with Shape-based Features for Change-Point Detection.</em>
        </p>
    </article>
</section>
