<section class="thirteen columns">
    <h1 id="publications">
        Publication
    </h1>
    <article>
        <header>
            <h1>Shape-Based Conditional Neural Field for Wrist-Worn Change-Point Detection.</h1>
            <span><address><strong> Shi, Yuang</strong>, Varsha Suresh, and Wei Tsang Ooi.</address></span>
        </header>
        <p>
            2022 IEEE International Conference on Pervasive Computing and Communications Workshops (PerCom Workshops). IEEE, 2022. <u><a href="https://ieeexplore.ieee.org/document/9767353">[Paper]</a></u>. <u><a href="https://github.com/Shiyuang-scu/ShapeCNF">[Code]</a></u>. 
        </p>
    </article>
    <article>
        <header>
            <h1>ASMFS: Adaptive-Similarity-based Multi-modality Feature Selection for Classification of Alzheimer's Disease.</h1>
            <span><address><strong> Shi, Yuang</strong>, et al.</address></span>
        </header>
        <p>
            Pattern Recognition 126 (2022): 108566. <u><a href="https://www.sciencedirect.com/science/article/pii/S0031320322000474">[Paper]</a></u>. <u><a href="https://github.com/Shiyuang-scu/ASMFS">[Code]</a></u>. 
        </p>
    </article>
    <article>
        <header>
            <h1>Uncertainty-weighted and Relation-driven Consistency Training for Semi- supervised Head-and-Neck Tumor Segmentation.</h1>
            <span><address><strong> Shi, Yuang</strong>, et al.</address></span>
        </header>
        <p>
            Knowledge-Based Systems. (Under Review). 
        </p>
    </article>

</section>
